
#support{
    height: 7em;
    width: 1em;
}
#box{
    height: 29em;
    width: 10em;
}
.circleRed {
    height: 8em;
}
.circleYellow {
    height: 8em;
}
.circleGreen{
    height: 8em;
}

.redSelected{

}